body,
html {
    height: auto;
  }
  
  body {
    background-image: linear-gradient(to left top, #3e0024, #32051f, #270619, #1e0313, #12000a);
  }

/* .row{
    padding-top: 3rem; 
    display: inline-grid;
     grid-template-columns: auto auto auto;
    gap: 4; 
    padding: 19px;
    background-color: aquamarine;
    background-image: linear-gradient(77deg, #80d0c7 0%, #002f2a 19%, #42093d 39%, #42093d 60%, #42093d 80%, #42093d 100%);
} */
.card{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.column{
    padding-top: 0rem;
    border-radius: 10px;
}
.btn{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.btn img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    transition: 0.3s;
}
.column:hover .btn img{
    transform: scale(1.1);
}
.btn .socail-link{
    position: absolute;
    bottom: 0;
    height: 170px;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.821);
    /* border-radius: 10px; */
    text-align: center;
    transition: 0.5s;
    transform: translateY(100%) scale(1.0);
    opacity: 0;
    visibility: hidden;
}
.column:hover .socail-link{
    transform: translateY(0) scale(1.0);
    opacity: 1;
    visibility: visible;
}
.btn .socail-link ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn .socail-link li a{
    font-size: 15px;
    color: blueviolet;
}
.info{
    text-align: center;
}
.info h3{
    padding-top: 1rem;
    font-size: 22px;
    font-weight: 400px;
    color: aquamarine;
    margin-bottom: 0;
}
.info p{
    font-size: 13;
    font-weight: 300px;
    color: blue;
    margin-top: 6px;
    margin-bottom: 8px;
}

@media screen and (max-width:1200px){
    .column{
        padding-left: 15px;
        padding-right: 15px;
    }   
    .thum img{
        width: 200px;
        height: 250px;
    }
    .thum .socail-link{
        width: 200px;
    }
}
@media screen and (max-width:948px){
    .row{
        grid-template-columns: 1fr 1fr;
    }
    .column{
        padding:0 1rem 3rem 1rem;
    }   
    .thum img{
        width: 300;
        height: 300;
    }
    .thum .socail-link{
        width: 300;
    }
}
@media screen and (max-width:768px){
    .row{
        grid-template-columns: 1fr ;
    }
    .column{
        padding:0 1rem 3rem 1rem;
    }   
    .thum img{
        width: 450;
        height: 400;
    }
    .thum .socail-link{
        width: 450;
    }
}
@media screen and (max-width:500px){
    .row{
        grid-template-columns: 1fr ;
    }
    .column{
        padding:0 0 3rem 0;
    }   
    .thum img{
        width: 400;
        height: 400;
    }
    .thum .socail-link{
        width: 400;
    }
}
@media screen and (max-width:440px){   
    .thum img{
        width: 350;
        height: 400;
    }
    .thum .socail-link{
        width: 350;
    }
}
@media screen and (max-width: 385px){   
    .thum img{
        width: 300;
        height: 350;
    }
    .thum .socail-link{
        width: 300;
    }
}
@media screen and (max-width: 321px){   
    .thum img{
        width: 270;
        height: 300;
    }
    .thum .socail-link{
        width: 270;
    }
}
@media screen and (max-width: 291px){   
    .thum img{
        width: 230;
        height: 270;
    }
    .thum .socail-link{
        width: 230;
    }
}