.navbar{
    padding: 0px 20px;
    background-image: linear-gradient(to left top, #3e0024, #32051f, #270619, #1e0313, #12000a);
    align-items: center;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    &-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        width: 100%;

        .logo{
            width: 50px;
            height: 50px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    
        ul{
            display: flex;
            align-items: center;
            list-style-type: none;
            gap: 20px;
            li{
                a{
                    display: inline-block;
                    padding: 7px 15px;
                    // background-color: blue;
                    text-decoration: none;
                    color: white;
                    font-size: 14px;
                }
            }
        }
    
        .navbar-action{
            display: flex;
            align-items: center;
            gap: 15px;
            color: white;

            buttom{
                svg{
                    font-size: 10px;
                }
            }
        }
    }  
}